---
import ScrollBlock from '../components/scroll/ScrollBlock.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div class="min-h-screen bg-purple-400">
			<div class="page-container overflow-hidden">
				<h1 class="pt-32 text-2xl">Test page for webcache checking (Astro component)</h1>
				<div class="grid grid-cols-2 gap-8 mt-12">
					<div>
						<ul>
							<li data-top>
								Opacity show content
							</li>
							<li data-top>
								Opacity show content
							</li>
							<li data-top>
								Opacity show content
							</li>
							<li data-top>
								Opacity show content
							</li>
							<li data-top>
								Opacity show content
							</li>
							<li data-top>
								Opacity show content
							</li>
							<li data-top>
								Opacity show content
							</li>
						</ul>
					</div>
					<ScrollBlock/>
				</div>
			</div>
		</div>
	</main>
</Layout>
<script> 
	import gsap from "gsap"; 

	gsap.from("[data-top]",{
		autoAlpha:0,
		top:-20,
		duration:0.3,
		stagger:0.2,
	})
</script>