---
import Footer from './Footer.astro';
import Header from './Header.astro';
import '@fontsource/roboto';
import "../styles/global.css"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro Webcahe Test" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="yandex-verification" content="1b7309c5b548e49e" />
		<title>Astro tests</title>
		<head>
			<link rel="sitemap" href="/sitemap-index.xml" />
		</head>
	</head>
	<body class="font-main">
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

